@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px; */
    box-shadow: -1px 4px 11px -5px rgba(221, 221, 221, 0.73);
}

.lang {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.lang .fn {
    color: #d9d9d9;
}

.logo img {
    width: 170px;
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons a {
    color: #333;
    text-decoration: none;
}

.icons img {
    width: 20px;
}

.links h5 {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* margin: 5px; */
}

.links h5 a {
    color: #646363;
    text-decoration: none;
}

.links h5 section {
    color: #333;
    text-decoration: underline;

}

header nav a {
    text-decoration: none;
    color: #333;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.text img {
    width: 150px;
    position: absolute;
    top: 50%;
    /* left: 100%; */
    transform: translateY(50%) translateX(-110px);
}

.hero-text h1 {
    font-size: 4em;
    margin: 0;
    line-height: 1;
    color: #000;
}

.hero-text h4 {
    margin: 22px 0 0 0;
}

.hero-text p {
    font-size: 12px;
    font-weight: 500;
    font-family: raleway, Arial, sans-serif;
}

.text {
    margin-top: 10px;
}

.text .btn {
    padding: 15px 30px;
    font-size: 12px;
    font-weight: 800;
    border-radius: 12px;
    border: none;
    background: #FFD977;
    cursor: pointer;
}


.text a {
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-decoration-line: underline;
    padding-left: 15px;
}

.hero-image {
    /* flex: 1; */
    text-align: center;
}

.hero-image img {
    width: 500px;
    height: auto;
}

.statistics {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    align-items: center;
    font-family: outfit, Arial, Helvetica, sans-serif;
}

.statistics h2 {
    font-weight: 700;

}

.statistics h1 {
    font-size: 4em;
}

.stats {
    width: 750px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FBFBFB;

}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.stat h1 {
    margin: 0;
}

.stat p{
    margin: 8px 0 0 8px;
    font-weight: 500;
}

.products {
    padding: 50px;
}

.products  .shop {
    text-align: center;
    margin-bottom: 50px;
}
 .shop h4{
    color: #EDA1A2;
}

.shop p{
    font-size: 3rem;
    margin: 12px 0 0 40px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.product {
    background: #f9f9f9;
    /* box-shadow: -1px 4px 11px -5px rgba(221, 221, 221, 0.73); */
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 24px;
    margin: 20px 0;
}

.product p {
    font-size: 18px;
    margin: 10px 0;
}

.jtrj {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating {
    color: gold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2d0246;
    color: #fff;
}